/* 320-368 */
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 32px;

  border: 1px solid #555;
  border-radius: 32px;
  background-color: #faf3e0;
  padding: 56px 24px 32px 24px;
}
/* width: 362;
    height: 316; */

.btnx {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.h2 {
  color: #000000;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0%;
  text-align: center;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 16px;
}

.btnlogout {
  background-color: #c80000;
  border: none;
  padding: 16px auto;
  border-radius: 8px;
  cursor: pointer;

  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.btncancel {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 16px auto;
  cursor: pointer;

  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

/* width: 314;
    height: 54; */

/* ================================ */
/* 793 - 1440*/
@media screen and (min-width: 768px) {
  .container {
    padding: 56px 32px 32px 32px;
  }
  /* width: 362;
      height: 316; */
  /* .modalContent {
      position: relative;
      text-align: center;
    } */

  .btnx {
    right: 32px;
    width: 24px;
    height: 28px;
  }

  .btncontainer {
    flex-direction: row-reverse;
    gap: 27px;
  }

  .btnlogout {
    padding: 12px 16px;
    font-size: 16px;
  }

  /* width: 164.5;
    height: 44; */

  .btncancel {
    padding: 12px 16px;
    font-size: 16px;
  }
  /* width: 164.5;
    height: 44; */
}
