.wrapper {
  display: flex;
  flex-direction: column;
}

.formColumn {
  display: flex;
  flex-direction: column;
}

.uploadTitle {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 4px;
}

.photoLabel {
  display: block;
  width: 100%;
  width: 361px;
  height: 383px;
  margin-bottom: 24px;
  border-radius: 16px;
  background-color: #9f9f9f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
}

.cameraIcon {
  width: 82px;
  height: 82px;
}

.photoLabel:hover {
  background-color: #b0b0b0;
}

.inputFile {
  display: none;
}

.sectionTitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
  color: #000;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.labelTitle {
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  background-color: #fff;
  transition: border-color 0.5s ease;
}

.input:hover,
.input:focus {
  border: 1px solid #000;
  outline: none;
}

.input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.textarea {
  resize: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 144px;
  transition: border-color 0.5s ease;
}

.textarea:hover,
.textarea:focus {
  border: 1px solid #000;
  outline: none;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.rowGroup {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.calories {
  width: 172px;
}
.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 46px;
  max-height: 48px;
}

.rowGroupIngredients {
  display: flex;
  flex-direction: column;
}
.selectIngredients {
  appearance: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #d9d9d9;
  background-color: #9b6c43;
  padding: 12px 16px;
  width: 361px;
  height: 44px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: #6d554b;
  box-shadow: 0 0 0 2px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  outline: none;
}

.removeBtn {
  background-color: transparent;
  color: #000;
}

.addBtn {
  margin-bottom: 40px;
}

.textareaInstructions {
  margin-bottom: 40px;
}

.submitBtn {
  margin: 0;
}

.ingredientHeader {
  display: none;
}

/* (768px) */
@media (min-width: 768px) {
  .uploadTitle {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .label {
    margin-bottom: 32px;
  }

  .photoLabel {
    width: 704px;
  }

  .sectionTitle {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .input {
    width: 704px;
  }

  .textarea {
    width: 704px;
  }
  .rowGroup {
    gap: 24px;
  }

  .calories {
    width: 340px;
  }

  .select {
    width: 340px;
  }

  .rowGroupIngredients {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 78px;
    margin-bottom: 16px;
  }

  .selectIngredients {
    width: 431px;
  }

  .ingredientAmount {
    width: 249px;
  }

  .removeBtn {
    display: none;
  }

  .btn {
    width: 704px;
  }
  .addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    width: 249px;
    height: 36px;
    margin-left: auto;
    margin-bottom: 32px;
  }
  .ingredientHeader {
    display: flex;
    position: relative;
    margin-bottom: 40px;
  }
  .ingredientSpan {
    width: 175px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
  }

  .ingredientHeader::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 431px;
    height: 1px;
    background-color: #d9d9d9;
  }
}

/* (1158px) */
@media (min-width: 1158px) {
  .form {
    padding: 48px 107px;
    width: 1440px;
  }

  .input {
    width: 809px;
  }

  .cameraIcon {
    width: 161px;
    height: 136px;
  }

  .photoLabel {
    width: 391px;
    height: 374px;
  }

  .pageTitle {
    margin-bottom: 40px;
  }

  .wrapper {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .calories {
    width: 392px;
    height: 76px;
  }

  .select {
    width: 392px;
    height: 76px;
  }

  .selectIngredients {
    width: 497px;
    height: 78px;
  }
  .ingredientAmount {
    width: 288px;
    height: 76px;
  }

  .textarea {
    width: 809px;
    height: 174px;
  }

  .btn {
    width: 809px;
  }

  .addBtn {
    width: 258px;
    height: 23px;
    font-size: 16px;
  }
  .ingredientHeader {
    margin-bottom: 72px;
  }

  .ingredientHeader::before {
    width: 304px;
  }

  .ingredientSpan {
    width: 152px;
  }
  .sectionTitle {
    margin-bottom: 16px;
  }
  .textareaInstructions {
    margin-bottom: 72px;
  }
}
.inputError {
  border: 1px solid red;
}

.textareaError {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}