.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.button {
 background-color:  #9b6c43;
 border: transparent;
 border-radius: 8px;
 padding: 16px;
 width: 289px;
 height: 54px;
 margin-bottom: 48px;
 font-weight: 600;
 font-size: 18px;
 color: #fff;
}


